**/__pycache__/
backend/__pycache__/
backend/.venv/
backend/venv/
backend/env/
backend/**/*.pyc
backend/**/*.pyo
backend/.mypy_cache/
backend/.pytest_cache/
backend/.DS_Store

backend/.env
backend/.dockerignore

frontend/node_modules/
frontend/.next/
frontend/.parcel-cache/
frontend/.turbo/
frontend/.DS_Store

frontend/build/
frontend/dist/
frontend/public/*.map

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local

*.swp
*.swo
.vscode/
.idea/
Thumbs.db
.DS_Store

